<div id="printableArea">
        <!-- <ngx-barcode style="float: right;margin-right: -50px" [bc-value]="patientID" [bc-display-value]="false">

            </ngx-barcode> -->
<p style="margin-left:350px"><b>{{selectedHospital}}</b>
    </p>
<label ><b>ID : </b>{{patientID}}</label>
<label style="margin-left:300px">{{hospitalAddress}}</label>
<label style="margin-left:300px;"><b>#####</b>
    <!-- <ngx-barcode [bc-value]="patientID" [bc-display-value]="false">

    </ngx-barcode> -->
</label>
<table>
    <tr>
            <td><b>Doctor :</b></td>
            <td>{{selectedDoctor}}</td>
            <td><b>Department :</b></td>
            <td>{{selectedDepartment}}</td>
            <td><b>Appointment Date :</b></td>
            <td>{{selectedAppointmentDate}}</td>
            <td><b>Appointment Time :</b></td>
            <td>{{selectedAppointmentTime}}</td>
    </tr>
    <tr>
        <td> <b><label>Name :</label> </b></td>
        <td>
            <label>{{patientFirstName}}</label>
        </td>
        <td>
            <label>{{patientLastName}}</label>
        </td>
        <td> <b><label>Contact Number :</label> </b></td>
        <td>
            <label>{{patientContactDetails}}</label>
        </td>
    </tr>
    <tr>
        <td> <b><label>Sex :</label> </b></td>
        <td>
            <label>{{patientGender}}</label>
        </td>
        <td> <b><label>Blood Group:</label> </b></td>
        <td>
            <label>{{patientBloodGroup}}</label>
        </td>
        <td> <b><label>Address :</label> </b></td>
        <td>
            <label>{{patientAddress}} , {{patientCity}} , {{patientPincode}}</label>
        </td>
        <td>
            <b>Registration Fees :</b>
            <b>&#8377;</b> {{registrationFees}}
        </td>
    </tr>
</table>
<hr>
</div>