<p style="margin-left: 200px;"><b>Register New Patient</b>
    <button style="float:right;margin-right: 20px;" type="submit" mat-raised-button color="primary"
        [routerLink]="'/app/dashboard/addpatient'" (click)="openSnackBar('Details not saved', 'Dismiss')">Back</button>
</p>
<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Patient Details</ng-template>
            <table>
                <tr>
                    <td> <b><label>Name :</label> </b></td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="First name" formControlName="firstName" required>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Last name" formControlName="lastName" required
                                (click)="test()">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> <b><label>Contact Number :</label> </b></td>
                    <td>
                        <mat-form-field>
                            <input type="number" matInput placeholder="Contact Number" formControlName="patientContact"
                                required>
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> <b><label>Sex :</label> </b></td>
                    <td>
                        <mat-radio-group aria-label="Select an option" formControlName="patientGender">
                            <mat-radio-button value="M" style="margin-right: 20px;">Male</mat-radio-button>
                            <mat-radio-button value="F" style="margin-right: 20px;">Female</mat-radio-button>
                            <mat-radio-button value="O" style="margin-right: 20px;">Others</mat-radio-button>
                        </mat-radio-group>
                    </td>
                    <td> <b><label>Blood Group:</label> </b></td>
                    <td>
                        <mat-form-field>
                            <mat-label>Select Blood Group</mat-label>
                            <mat-select formControlName="patientBloodGroup">
                                <mat-option *ngFor="let bloodGroup of bloodGroups" [value]="bloodGroup.value">
                                    {{bloodGroup.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> <b><label>Address :</label> </b></td>
                    <td>
                        <mat-form-field style="width:120%">
                            <textarea rows="3" matInput placeholder="Enter address" formControlName="patientAddress"
                                name="patientAddress"></textarea>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> <b><label>City :</label> </b></td>
                    <td>
                        <mat-form-field>
                            <mat-label>Select City</mat-label>
                            <mat-select formControlName="patientCity">
                                <mat-option *ngFor="let city of cities" [value]="city.value">
                                    {{city.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td> <b><label>Pincode :</label> </b></td>
                    <td>
                        <mat-form-field>
                            <input type="number" matInput placeholder="Pincode" formControlName="patientPincode">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <div>
                <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Hospital Details</ng-template>
            <table>
                <tr>
                    <td> <b><label>Hospital :</label> </b></td>
                    <td>
                        <mat-form-field style="width: 100%">
                            <mat-label>Select Hospital</mat-label>
                            <mat-select formControlName="patientHospital">
                                <mat-option *ngFor="let hospital of hospitals" [value]="hospital.value">
                                    {{hospital.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> <b><label>Department :</label> </b></td>
                    <td>
                        <mat-form-field>
                            <mat-label>Select Department</mat-label>
                            <mat-select formControlName="patientDepartment">
                                <mat-option *ngFor="let department of departments" [value]="department.value">
                                    {{department.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> <b><label>Appointment Date :</label> </b></td>
                    <td>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker1" placeholder="Pick Date"
                                formControlName="patientDate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td> <b><label>Time :</label> </b></td>
                    <td>
                        <mat-form-field>
                            <mat-select formControlName="patientTime">
                                <mat-option *ngFor="let time of timelines" [value]="time.value">
                                    {{time.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> <b><label>Doctor Available :</label> </b></td>
                    <td>
                        <mat-form-field>
                            <mat-label>Select Doctor</mat-label>
                            <mat-select formControlName="patientDoctor">
                                <mat-option *ngFor="let doctor of doctors" [value]="doctor.value">
                                    {{doctor.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <div>
                <button mat-stroked-button color="warn" matStepperPrevious style="margin-right: 10px">Back</button>
                <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [editable]="isEditable">
        <ng-template matStepLabel>Sickness Details</ng-template>
        <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Sickness Detail</ng-template>
            <mat-form-field style="width:50%">
                <textarea rows="6" matInput placeholder="Describe Problem briefly"
                    formControlName="patientProblem"></textarea>
            </mat-form-field>
        </form>
        <div>
            <button mat-stroked-button color="warn" style="margin-right: 10px" matStepperPrevious>Back</button>
            <button mat-stroked-button color="primary" matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step [editable]="isEditable">
        <ng-template matStepLabel>Preview and print</ng-template>
        <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>Preview and print</ng-template>
            <div id="printableArea">
                    <!-- <ngx-barcode style="float: right;margin-right: -50px" [bc-value]="patientID" [bc-display-value]="false">

                        </ngx-barcode> -->
            <p style="margin-left:350px"><b>{{selectedHospital}}</b>
                </p>
            <label ><b>ID : </b>{{patientID}}</label>
            <label style="margin-left:300px">{{hospitalAddress}}</label>
            <label style="margin-left:300px;"><b>#####</b>
                <!-- <ngx-barcode [bc-value]="patientID" [bc-display-value]="false">

                </ngx-barcode> -->
            </label>
            <table>
                <tr>
                        <td><b>Doctor :</b></td>
                        <td>{{selectedDoctor}}</td>
                        <td><b>Department :</b></td>
                        <td>{{selectedDepartment}}</td>
                        <td><b>Appointment Date :</b></td>
                        <td>{{selectedAppointmentDate}}</td>
                        <td><b>Appointment Time :</b></td>
                        <td>{{selectedAppointmentTime}}</td>
                </tr>
                <tr>
                    <td> <b><label>Name :</label> </b></td>
                    <td>
                        <label>{{patientFirstName}}</label>
                    </td>
                    <td>
                        <label>{{patientLastName}}</label>
                    </td>
                    <td> <b><label>Contact Number :</label> </b></td>
                    <td>
                        <label>{{patientContactDetails}}</label>
                    </td>
                </tr>
                <tr>
                    <td> <b><label>Sex :</label> </b></td>
                    <td>
                        <label>{{patientGender}}</label>
                    </td>
                    <td> <b><label>Blood Group:</label> </b></td>
                    <td>
                        <label>{{patientBloodGroup}}</label>
                    </td>
                    <td> <b><label>Address :</label> </b></td>
                    <td>
                        <label>{{patientAddress}} , {{patientCity}} , {{patientPincode}}</label>
                    </td>
                </tr>
            </table>
            <hr>
        </div>
        </form>
        <div *ngIf="isEditable">
            <button mat-stroked-button color="warn" style="margin-right: 10px" matStepperPrevious>Back</button>
            <button mat-raised-button color="warn" style="margin-right: 10px" (click)="stepper.reset()">Reset</button>
            <button mat-raised-button color="primary" (click)="submit();">Submit & Print</button>
        </div>
        <div *ngIf="!isEditable">
            <button mat-raised-button color="primary" (click)="rePrint();">Re-Print</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>