<p ><b style="margin-left: 300px;">Register Patient</b>
    <button style="float:right;margin-right: 20px;" type="submit" mat-raised-button color="primary"
        [routerLink]="'/app/dashboard/home'">Back</button>
</p>
<button mat-raised-button color="primary" [routerLink]="'/app/dashboard/registernewpatient'"
    matTooltip="For new patients reporting today" style="margin-right: 30%;">Register new patient</button>
<button mat-raised-button color="primary" matTooltip="For old patients who had came to hospital earlier"
    [routerLink]="'/app/dashboard/registerexistingpatient'">Register existing patient</button>
<img src='../../../assets/images/family_health.jpg' style="width:90%">