<div>
    <img style="height: 100px; margin-right: 30%" src="../assets/images/emergency.jpg" /> <img
        style="height: 100px; margin-right: 20%" src="../assets/images/app.JPG" /> <img style="height: 100px"
        src="../assets/images/emergency2.JPG" />
    <hr style="border-top: 1px solid red">
</div>
<div class="container" style="background: #007bff;">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form ngNativeValidate (ngSubmit)='login()'>
                        <div class="form-group row">
                            <label for="inputUser" class="col-md-4 col-form-label">User Name</label>
                            <div class="col-md-8">
                                <input type="email" class="form-control" required placeholder="User Name"
                                    [(ngModel)]="userName" name="userName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-md-4 col-form-label">Password</label>
                            <div class="col-md-7">
                                <input type="password" *ngIf="!showPasswordFlag" class="form-control" id="inputPassword"
                                    required placeholder="Password" name="userPassword" [(ngModel)]="userPassword">
                                <input type="text" *ngIf="showPasswordFlag" class="form-control" id="inputPassword"
                                    required placeholder="Password" name="userPassword" [(ngModel)]="userPassword">
                            </div>
                            <i (click)="showPassword()" *ngIf="showPasswordFlag" class="fa fa-eye"
                                style="font-size:25px;"></i>
                            <i (click)="showPassword()" *ngIf="!showPasswordFlag" class="fa fa-eye-slash"
                                style="font-size:25px;"></i>
                        </div>
                        <div class="custom-control custom-checkbox md-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" required>
                            <label class="custom-control-label" for="customCheck1">I agree to all terms &
                                conditions</label>

                        </div>
                        <label for="inputUser" class=" col-form-label" *ngIf="loginStatus"
                            style="color: red;">*Incorrect Username or Password</label>
                        <hr class="my-4">

                        <div class="col-md-12">
                            <button type="button" data-toggle="modal" data-target="#myModal"
                                class="btn btn-danger">Forget Password</button>
                            <button style="float:right" type="submit" class="btn btn-primary">Sign in</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <b class="modal-title">Reset link will be sent to below email</b>
            </div>
            <div class="modal-body">
                <input type="text"  class="form-control" id="userEmail"
                required placeholder="Enter Email" name="userEmail" [(ngModel)]="userEmail">
            </div>
            <div class="modal-footer">
                <button type="button" 
                class="btn btn-danger">Reset</button>
                <button type="button" class="btn btn-default"
                    data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>
<router-outlet></router-outlet>
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer">
        <p>© 2020 Copyright:Developers community</p>
    </div>

    <!-- Copyright -->

</footer>