.mat-raised-button {
    text-align: left;
}
.PageLine2V
    {
        width:2px;
        content: "";
        min-height: 100%;
        background-color:#D1C094;
        
        background-repeat:repeat-y;
        height: 100%;

    }
.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #007bff;
        color: white;
        text-align: center;
     }    