<b style="margin-left: 20px;">Details has been saved successfully..!!!</b>
<div style="height: 20px;"></div>
<div class="example-container">
    <button style="margin-left: 20px;" type="submit"  mat-raised-button color="primary"
    [routerLink]="'/app/dashboard/home'">View Patient Form</button>
    
      <button style="margin-left: 20px;" type="submit"  mat-raised-button color="primary"
      [routerLink]="'/app/dashboard/home'">View Treatment</button>
      <button style="margin-left: 20px;" type="submit"  mat-raised-button color="primary"
      [routerLink]="'/app/dashboard/home'">View Billing</button>
</div>
